<% @user = @user || User.new %>
<%= form_tag '/users/update_profile_pic', method: :post, class: "dropzone", id: "profile-dropzone" do %>
  <div class="fallback">
    <%= file_field_tag "media"%>
  </div>
<% end %>