<h1>Users#index</h1>

<ul id="users"></ul>

<script type='x-handlebars-template' id='userTemplate'>

  <li data-user-id="{{ id }}">
    <span id ="{{ name }}"> {{ name }} </span>
    <span id ="{{ username }}"> {{ username }}</span>
  </li>
  
</script>