<div class="content-container">
  <h2>Make sparks fly</h2>
  <div class="discover-container">
    <div id="moment_on_show">
      <div id="user_moment"></div>
      <button id="not_like"><i class="fa fa-times fa-3x"></i></button>
      <button id="like"><i class="fa fa-heart fa-3x"></i></button>
    </div> 
  </div>
</div>


