<!-- Edit user view - renders moments, profile pic and user profile forms -->
<%if @current_user.present? %>
  <div class="content-container">
    <h2>Edit your Profile</h2>
    <h3>Your moments</h3>
    <div class="edit-moments">
        <%if @current_user.present? %>
          <ul class="moments-container" id="current_user_moments"></ul>
          <%= render :partial => 'moments/moments_form' %>
        <%end%>
    </div>
    <h3>Your profile photo</h3>
    <div class="edit-profile-photo">
      <%= render :partial => 'users/edit_profile_pic_form' %> 
    </div>
    <h3>Your profile</h3>
    <div class="edit-form">
      <%= render :partial => 'users/edit_user_form' %> 
    </div>
  </div>
<% end %>