<div class="help-container">
  <h2>Help</h2>
  <h3>Forgot your password? Ask your grandchildren</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>

  <h3>Making Moments</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>

  <h3>Igniting a Sparks</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>

  <h3>Letting off fireworks</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
</div>