<div class="content-container">
  <h2>Your matches</h2>
  <h3>Sub heading</h3>
  <div class="matches-container">
    <!-- List all the matches of current user -->   
    <div id="current_user_matches">
      <div id="matches"></div>
    </div>
  </div>
</div>