<div class="help-container">
  <h2>Terms of Service</h2>
  <h3>We promise we won't steal your information</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>

  <h3>We promise we won't sell your details</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium rem recusandae ipsam iusto dolorum eaque, laboriosam minus cum, esse at dignissimos molestias illo excepturi quam ducimus, laborum delectus cupiditate dolor!</p>
  <p>Sparkr made for a class project for Web Development Immersive Eight at General Assembly, Sydney</p>
</div>