<h2>Already a member?</h2>
<%= render :partial => 'session/new_session_form' %>
<h2>New user? Sign up</h2>
<%= render :partial => 'users/new_user_form' %>



<ul id="users"></ul>

<script type='x-handlebars-template' id='userTemplate'>

  <li data-user-id="{{ id }}">
    <span id ="{{ name }}"> {{ name }} </span>
    <span id ="{{ username }}"> {{ username }}</span>
  </li>
  
</script>



<ul id="current_user"></ul>

<script type='x-handlebars-template' id='current_userTemplate'>

  <li data-user-id="{{ id }}">
    <span id ="{{ name }}"> {{ name }} </span>
    <span id ="{{ username }}"> {{ username }}</span>
  </li>
  
</script>
