<section class="sign-in sign-up">
  <h2>Already a member?</h2>
  <% @user = User.new %>
  <%= render :partial => 'session/new_session_form' %>
  <h2>New user? Sign up</h2>
  <%= render :partial => 'users/new_user_form' %>
</section>

<section class="user-profile">
  <ul class="current-user"></ul>
<!--   <ul id="current_user"></ul> -->
</section>

<section class="users-all">
  <ul id="users"></ul>
</section>


<!-- Scripts -->
<script type='x-handlebars-template' id='current_userTemplate'>
  <li data-user-id="{{ id }}">
    <span id ="{{ name }}"> {{ name }} </span>
    <span id ="{{ username }}"> {{ username }}</span>
  </li>
</script>
<script type='x-handlebars-template' id='userTemplate'>
  <li data-user-id="{{ id }}">
    <span id ="{{ name }}"> {{ name }} </span>
    <span id ="{{ username }}"> {{ username }}</span>
  </li>
</script>