@import url("http://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  background-color: #F5F2E9;
  font-size: 18px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #000;
  line-height: 150%;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.content-container {
  max-width: 80%;
  height: 100%;
  position: relative;
  background-color: #fff;
  margin: 2em auto;
  padding: 1em 0;
  text-align: center;
}
label {
  display: block;
  text-transform: uppercase;
  margin-top: 0.5em;
  font-weight: 700;
}
input, textarea {
  display: inline-block;
  width: 80%;
  background-color: #F5F2E9;
  margin: 5px auto;
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 150%;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  background-color: #F5A503;
  border: 1px solid #F5A503;
  color: #F5F2E9;
  margin-top: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
}
input[type="submit"]:hover {
  background-color: #36B1BF;
  border: 1px solid #36B1BF;
  color: #F5F2E9;
}
select {
  width: 7.5em;
  border: 1px solid #ccc;
  margin: 8px auto;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
}
.error {
  color: #F2385A;
}
/* Header & Navigation */
header {
  max-width: 100%;
  height: 80px;
  background-color: #36B1BF;
}
.sparkr-logo {
  color: #FFF6E5;
  padding-top: 0.4em;
}
.main-nav {
  max-width: 95%;
  padding: 0.5em;
  color: #fff;
  vertical-align: middle;
}
.nav-links-left {
  float: left;
}
.nav-links-right {
  float: right;
}
.main-nav ul {
  list-style-type: none;
  padding: 0;
}
.main-nav li {
  display: inline-block;
  margin: 20px 10px;
}
.main-nav a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 5px;
}
.main-nav li:hover {
  padding-bottom: 2px;
  border-bottom: 3px solid #F5A503;
  color: #F5A503;
}
.main-nav li a:hover {
  color: #F5A503;
}


/* Footer */
footer {
  max-width: 100%;
  height: 80px;
  background-color: #36B1BF;
  font-size: 14px;
  color: #F5F2E9;
}
.credit {
  display: inline-block;
  width: 70%;
  padding-top: 2em;
  padding-left: 2em;
}
.support {
  display: inline-block;
  width: 27%;
  list-style-type: none;
  right: 0;
  padding-top: 2em;
}
.support > li {
  display: inline-block;
}
/* Homepage */
.signup-container {
  padding: 1em 3em 1em 1.9em;
  border-right: 1px solid #E0DED8;
}
.signin-container {
  padding: 1em 1.7em 1em 3em;
}
.signin-container,
.signup-container {
  min-width: 35%;
  display: inline-block;
  margin: 1em auto;
  vertical-align: top;
  text-align: left;
}
.signin-container h2,
.signup-container h2 {
  margin-bottom: 1em;
}
.signin-container label,
.signup-container label {
  font-size: 1em;
  font-weight: 500;
}
.signin-container input,
.signup-container input {
  display: inline-block;
  width: 300px;
  background-color: #F5F2E9;
  margin: 0.2em auto;
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 150%;
}
.signin-container input[type="submit"],
.signup-container input[type="submit"] {
/*  background-color: #36B1BF;
  border: 1px solid #36B1BF;*/
  background-color: #F5A503;
  border: 1px solid #F5A503;
  color: #F5F2E9;
  margin-top: 0.5em;
  padding: 0.5em;
}
.signin-container input[type="submit"]:hover,
.signup-container input[type="submit"]:hover {
  background-color: #36B1BF;
  border: 1px solid #36B1BF;
  color: #F5F2E9;
}
.btn-fb-signin {
  display: block;
  width: 300px;
  background-color: #3A5795;
  margin: 2em auto;
  padding: 0.3em 2em 0.3em 1em;
  border: 1px solid #3A5795;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 150%;
}
.btn-fb-text {
  display: inline-block;
  vertical-align: 0.3em;
}
.btn-fb-logo {
  display: inline-block;
}

/* Update Profile & Moments */
.edit-moments-container,
.edit-profile-container {
  max-width: 75%;
  margin: 0 auto;
  text-align: left;
}
.moments-container {
  margin: 1.5em auto;
}
.moments-container > li {
  display: inline-block;
  background-color: #000;
}
.moments-container > li > a {
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
.moments-container > li > img,
.moments-container > li > a {
  display: block;
}
.dropzone {
  border: 1px solid #403F3D;
  border-radius: 3px;
  margin: 1.5em 0;
}
.form-dob {
  display: block;
}
.edit-form {
  margin: 1.5em auto;
}
