<script type="x-handlebars-template" id="userTemplate">
  <li data-user-id="{{ id }}">
    <span id="{{ name }}"> {{ name }} </span>
  </li>
</script>

<script type='x-handlebars-template' id='momentTemplate'>
  <li class="moment" data-moment-id="{{ id }}">
    <img class="moment-image" src="{{ content.medium.url }}"></img>
    <a href="#" class="delete">Remove moment</a>
  </li>
</script>

<script type="x-handlebars-template" id="matchTemplate">
  <div class="match-box" data-match-id="{{ id }}">
    <img id="match_userprofile_pic" src="{{ profile_pic.medium.url }}"></img>

    <div class="match-content">
      <span id="match_name">{{ name }}, </span>
      <span id="match_age">{{ age }}</span>
      <span id="match_date">Matched on: {{ created_at }}</span>
    </div>
    <a class="match-btn match-profile-btn" href="#">Profile<a>
    <a class="match-btn match-message-btn" href="#">Message<a>
    <a class="match-btn match-fireworks-btn" data-match-id="{{ id }}" href="#">Fireworks</a>
    <div class="got_a_firework"></div>
    <div class="start_a_firework"></div>
  </div>     
</script>

<script type="x-handlebars-template" id="current_userTemplate">
  <li data-user-id="{{ id }}">
    <span id="{{ current_username }}">Name: {{ name }} </span>
    <span id="{{ current_userusername }}">Username: {{ username }} </span>
    <span id="{{ current_useremail }}">Email: {{ email }} </span>
    <span id="{{ current_userdescription }}">About: {{ description }} </span>
    <span id="{{ current_usergender }}">Gender: {{ gender }} </span>
    <span id="{{ current_userlocation }}">Location: {{ location }} </span>
    <img id="{{ current_userprofile_pic }}" src="{{ profile_pic.medium.url }}"></img>
  </li>   
</script>